.recomendation {
    width: 95%;
    margin: 20px auto 100px;
    
    display: grid;
    column-gap: 10px;
    row-gap: 20px;
    align-items: center;
    justify-items: center;

    @media (min-width: 320px) {
        grid-template-columns: repeat(1, 1fr);
    }

    @media (min-width: 425px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 750px) {
        grid-template-columns: repeat(3, 1fr);

    }

    @media (min-width: 820px) {
        grid-template-columns: repeat(4, 1fr);
    }


    @media (min-width: 1250px) {
        grid-template-columns: repeat(4, 1fr);
    }
    @media (min-width: 1251px) {
        grid-template-columns: repeat(6, 1fr);
    }
}

.title {
    margin: 50px 0 50px 5%;
    font-size: 24px;
}