.page {

  .container {
    min-height: 550px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    padding: 20px 0;
    
    @media (min-width: 750px) {
      width: 90%;
      flex-direction: row;
      gap: 20px;
    }
    @media (min-width: 1250px) {
      gap: 62px;
    }

    .image {
      @media (min-width: 750px) {
        margin-left: 5%;
      }
    }

    .content {
      width: 70%;
      margin: auto;
      border-radius: 10px;
      text-align: left;
      background-color: rgba(36, 36, 36, 0.125);

      padding: 0 20px;
      h2 {
        width: 80%;
        font-size: 16px;
        font-weight: 400;
      }
      h4 {
        font-size: 14px;
      }
      @media (min-width: 1200px) { 
        // background-color: initial;
      }
      .actions {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }

      .genre {
        display: flex;
        gap: 30px;
        margin: 20px 0;
        justify-content: center;
        span {
          border: solid 2px #F1CB51;
          padding: 9px 16px;
          font-family: "IBM Plex Sans", sans-serif;
          color: #F1CB51;
          font-weight: 600;
          border-radius: 5px;
        }
      }
    }

    .recomend {
      .rec {
        div {
          flex-wrap: wrap;
        }
      }
    }
  }
}